
/* line 16 : /Users/mspangenberg/github/portfolio/src/stylus/loader.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 4 : /Users/mspangenberg/github/portfolio/src/stylus/loader.styl */
#loader {
  background-color: #fff;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute !important;
  right: 0px;
  transition: all 0.45s linear;
  width: 100%;
  z-index: 1002;
}

/* line 15 : /Users/mspangenberg/github/portfolio/src/stylus/loader.styl */
.loader-shrink {
  opacity: 0 !important;
  z-index: -1 !important;
}

/* line 19 : /Users/mspangenberg/github/portfolio/src/stylus/loader.styl */
#loader-headline {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: -moz-calc(50% - 45px);
  top: -webkit-calc(50% - 45px);
  top: -o-calc(50% - 45px);
  top: calc(50% - 45px);
}

/* line 29 : /Users/mspangenberg/github/portfolio/src/stylus/loader.styl */
#loader-cont {
  height: 2px;
  left: 0px;
  margin: 0px auto;
  position: relative;
  right: 0px;
  top: -moz-calc(50% - 1px);
  top: -webkit-calc(50% - 1px);
  top: -o-calc(50% - 1px);
  top: calc(50% - 1px);
  width: 60%;
}

/* line 41 : /Users/mspangenberg/github/portfolio/src/stylus/loader.styl */
.loader-bar {
  background: #333;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
