
/* line 16 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
* {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 11 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
body {
  background-color: #333;
}

/* line 14 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
.fa {
  font-family: 'FontAwesome' !important;
}

/* line 17 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
#fullpage {
  z-index: 2;
}

/* line 287 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 122 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 11 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 11 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 29 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 122 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 91 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 91 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 8 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 8 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 26 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 26 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 21 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 122 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 6 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 6 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 13 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 13 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 10 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 10 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 3 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line undefined : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 91 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 91 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 578 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 578 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 122 : /Users/mspangenberg/github/portfolio/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 6 : /Users/mspangenberg/github/portfolio/src/stylus/site/variables.styl */

/* line 56 : /Users/mspangenberg/github/portfolio/src/stylus/site/variables.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.container {
  position: relative;
  z-index: 1;
}

/* line 9 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

/* line 14 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
ul {
  margin: 0;
  padding: 0;
}

/* line 18 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
li {
  list-style: none;
}

/* line 21 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.no-style {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  list-style: none !important;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
}

/* line 31 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.no-padding {
  padding: 0px !important;
}

/* line 34 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.no-margin {
  margin: 0px !important;
}

/* line 37 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.position-relative {
  position: relative;
}

/* line 40 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.position-absolute {
  position: absolute;
}

/* line 43 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.full-height {
  height: 100%;
}

/* line 46 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.full-width {
  width: 100%;
}

/* line 49 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.full-screen {
  height: 100%;
  width: 100%;
}

/* line 53 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.verticle-center {
  position: absolute;
  top: 50%;
}

/* line 57 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.transition-all {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 60 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */
.transition-background {
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

/* line 62 : /Users/mspangenberg/github/portfolio/src/stylus/site/overrides.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */
.polygon {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

/* line 12 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */
.overlay {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 20 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */
.noise {
  background-image: url("../img/noise.e5c7fe9.png");
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
}

/* line 23 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#nav-background {
  background-color: transparent;
  height: 0px;
  left: 0px;
  margin: 0px auto;
  position: fixed;
  right: 0px;
  top: 0px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 99;
}

/* line 17 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.nav-background-visible {
  background-color: #fff !important;
  height: 45px !important;
}

/* line 21 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar {
  background-color: transparent !important;
  background-image: none;
  border: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 0px;
  left: 0px;
  line-height: 44px;
  margin: 0px;
  min-height: 0px;
  padding: 0px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: fixed;
  right: 0px;
  top: 0px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  visibility: hidden;
  z-index: 101;
}

/* line 41 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-visible {
  height: 45px !important;
  min-height: 45px !important;
  opacity: 1 !important;
  -ms-filter: none;
  filter: none;
  visibility: visible !important;
}

/* line 47 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-brand {
  color: #333;
}

/* line 50 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-brand {
  float: left;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  padding: 0px 15px;
}

/* line 57 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar #menu li a {
  color: #999;
}

/* line 60 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-nav>.active>a {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 64 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}

/* line 67 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  float: right;
  margin: 9px 15px 8px 0px;
  padding: 6px 10px;
  position: relative;
}

/* line 77 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-nav {
  margin: 0px -15px;
}

/* line 80 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.collapsing,
.navbar-collapse.in {
  background-color: #f2f2f2;
}

/* line 84 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.collapsing #menu li a,
.navbar-collapse.in #menu li a {
  margin-top: 10px;
}

/* line 88 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li {
  display: inline-block;
  height: 45px;
  margin: 0px 15px;
  overflow: hidden;
}

/* line 94 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active {
  border-bottom: 1px solid #333;
}

/* line 97 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a {
  font-size: 14px;
  text-decoration: none;
}

/* line 101 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a:hover {
  color: #ccc;
}

/* line 104 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active a:hover {
  color: #999;
}

/* line 107 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li:hover {
  border-bottom: 1px solid #ccc;
}

/* line 110 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a,
#menu li.active a {
  display: block;
}

/* line 114 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active a {
  color: #333;
}
@media (max-width: 479px) {

/* line 124 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .example {
    font-size: 14px;
  }
}
@media (min-width: 480px), (max-width: 767px) {

/* line 130 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .example {
    font-size: 14px;
  }
}
@media (min-width: 768px), (max-width: 991px) {

/* line 136 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .example {
    font-size: 14px;
  }
}
@media (min-width: 992px), (max-width: 1199px) {

/* line 142 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .example {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {

/* line 148 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .example {
    font-size: 14px;
  }
}

/* line 150 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section0 {
  -webkit-animation-duration: 0.45s;
  -moz-animation-duration: 0.45s;
  -o-animation-duration: 0.45s;
  -ms-animation-duration: 0.45s;
  animation-duration: 0.45s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 9 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section0 .container {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 12 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.section0-background-left {
  background-color: transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid rgba(255,255,255,0.45);
  height: 0px;
  left: 0px;
  margin: 0px auto;
  position: fixed;
  right: 0px;
  top: 0px;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  width: 0px;
  z-index: 1;
}

/* line 27 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.section0-background-right {
  background-color: transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid rgba(0,0,0,0.45);
  bottom: 0px;
  height: 0px;
  left: 0px;
  margin: 0px auto;
  position: fixed;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  right: 0px;
  width: 0px;
  z-index: 1;
}

/* line 42 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.section0-background-left-animate-to-menu {
  border-top: 0px solid rgba(255,255,255,0.45) !important;
  border-left-width: 0px !important;
}

/* line 46 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.section0-background-right-animate-to-menu {
  border-bottom: 0px solid rgba(0,0,0,0.45) !important;
  border-right-width: 0px !important;
}

/* line 50 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section0-content {
  margin-top: 15px;
  width: 100%;
}

/* line 54 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.height-minus-nav {
  height: -moz-calc(100% - 45px);
  height: -webkit-calc(100% - 45px);
  height: -o-calc(100% - 45px);
  height: calc(100% - 45px);
}

/* line 60 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#img-profile {
  background: url("../img/img-mspangenberg-ux-designer.143b083.png");
  background-position: center -30px;
  background-repeat: no-repeat;
  -webkit-background-size: 195px auto;
  -moz-background-size: 195px auto;
  background-size: 195px auto;
  border: 1px solid #fff;
  -webkit-border-radius: 95px;
  border-radius: 95px;
  height: 190px;
  left: 0px;
  margin: 0px auto;
  position: absolute;
  right: 0px;
  top: -moz-calc(50% - 95px);
  top: -webkit-calc(50% - 95px);
  top: -o-calc(50% - 95px);
  top: calc(50% - 95px);
  width: 190px;
}

/* line 78 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section-0-prefix {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0px;
  text-shadow: #333 0px 1px;
  text-transform: uppercase;
}

/* line 86 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section-0-h1 {
  font-size: 36px;
  font-weight: 100;
  margin-top: 5px;
  text-shadow: #333 0px 2px;
}

/* line 92 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section-0-p {
  font-size: 16px;
  font-weight: 100;
  text-shadow: #333 0px 1px;
}

/* line 97 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#links-social {
  bottom: 15px;
  position: absolute;
  right: 12px;
}

/* line 102 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.icn-social {
  border: 1px solid #fff;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  margin: 15px 5px 5px;
  text-align: center;
  width: 60px;
}

/* line 113 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#angle-down {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  bottom: 15px;
  cursor: pointer;
  font-size: 30px;
  height: 90px;
  left: 0px;
  margin: 0px auto;
  position: absolute;
  right: 0px;
  width: 90px;
}

/* line 125 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#angle-down i {
  bottom: 0px;
  left: 0px;
  margin: 0px auto;
  position: absolute;
  right: 0px;
  text-align: center;
}
@media (max-width: 479px) {

/* line 142 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #section-0-h1 {
    font-size: 24px;
    font-weight: 500;
  }

/* line 146 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #section-0-p {
    font-size: 14px;
    font-weight: 500;
  }

/* line 150 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #img-profile {
    height: 150px;
    top: -moz-calc(50% - 75px);
    top: -webkit-calc(50% - 75px);
    top: -o-calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
  }

/* line 158 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #links-social {
    bottom: -15px;
    left: 0px;
    margin: 0px auto;
    right: 5px;
  }
}
@media (min-width: 480px), (max-width: 767px) {

/* line 167 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #section0-content {
    margin-top: 90px;
  }

/* line 170 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #img-profile {
    height: 150px;
    top: -moz-calc(50% - 75px);
    top: -webkit-calc(50% - 75px);
    top: -o-calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
  }

/* line 178 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #links-social {
    bottom: 120px;
    left: 0px;
    margin: 0px auto;
  }
}
@media (min-width: 768px), (max-width: 991px) {

/* line 186 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  .example {
    font-size: 14px;
  }
}
@media (min-width: 992px), (max-width: 1199px) {

/* line 192 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  .example {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {

/* line 198 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  .example {
    font-size: 14px;
  }
}

/* line 200 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */

/* line 6 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main {
  height: -moz-calc(100% - 45px);
  height: -webkit-calc(100% - 45px);
  height: -o-calc(100% - 45px);
  height: calc(100% - 45px);
  overflow: hidden;
  position: absolute;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
}

/* line 20 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.grow-bl-main {
  height: 100% !important;
  top: 0px !important;
}

/* line 24 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section {
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  height: 50%;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 50%;
}

/* line 33 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:first-child {
  background: #333;
  background-image: url("../img/featured-thumb-box-1.jpg");
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  left: 0px;
  top: 0px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 42 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(2) {
  background: #333;
  background-image: url("../img/featured-thumb-box-2.jpg");
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  left: 50%;
  top: 0px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 51 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(3) {
  background: #333;
  background-image: url("../img/featured-thumb-box-3.jpg");
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  left: 0px;
  top: 50%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 60 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(4) {
  background: #333;
  background-image: url("../img/featured-thumb-box-4.jpg");
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  left: 50%;
  top: 50%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 69 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-box {
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(51,51,51,0.45);
  cursor: pointer;
  height: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: relative;
  width: 100%;
}

/* line 98 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-box h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px;
  text-align: center;
  width: 100%;
  text-shadow: #333 0px 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 107 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section .bl-icon-close {
  cursor: pointer;
  font-size: 21px;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  right: 15px;
  top: 15px;
  z-index: 100;
}

/* line 117 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content,
div.bl-panel-items > div > div {
  bottom: 0px;
  left: 0px;
  padding: 0 15px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  overflow: hidden;
  overflow-y: auto;
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: 0px;
}

/* line 130 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content p {
  font-size: 18px;
  font-weight: 300;
  margin: 0px auto;
  padding-bottom: 15px;
}

/* line 136 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content h2 {
  font-size: 64px;
  font-weight: 300;
  left: 0;
  margin: 0px 0px 20px 0px;
  position: absolute;
  right: 0px;
  text-shadow: #000 0px 1px;
  top: -250px;
}

/* line 146 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content .container {
  background-color: #333;
  margin-top: 30%;
  min-height: 100%;
  padding: 15px;
}

/* line 152 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section.bl-expand {
  height: -moz-calc(100% - 45px);
  height: -webkit-calc(100% - 45px);
  height: -o-calc(100% - 45px);
  height: calc(100% - 45px);
  left: 0px;
  top: 0px;
  width: 100%;
}

/* line 161 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section.bl-expand-top {
  z-index: 100;
}

/* line 164 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:first-child.bl-expand {
  border: none;
}

/* line 168 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(2).bl-expand {
  border: none;
}

/* line 172 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(3).bl-expand {
  border: none;
}

/* line 176 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(4).bl-expand {
  border: none;
}

/* line 180 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

/* line 185 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
section.bl-expand .bl-box {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  -ms-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

/* line 189 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.no-touch section:not(.bl-expand) .bl-box:hover h2 {
  font-size: 36px;
}

/* line 192 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content,
.bl-icon-close {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  -o-transition: opacity 0.1s linear 0s;
  -ms-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}

/* line 196 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  pointer-events: auto;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -moz-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  -ms-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
}

/* line 201 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.fp-controlArrow {
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}

/* line 10 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.experience-container {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: -moz-calc(50% - 400px);
  top: -webkit-calc(50% - 400px);
  top: -o-calc(50% - 400px);
  top: calc(50% - 400px);
}

/* line 17 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.experience-timeline {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

/* line 20 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.timestamp {
  border: 1px solid #fff;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  font-size: 12px;
  font-weight: 500;
  height: 90px;
  left: 0px;
  line-height: 90px;
  margin: 75px auto 0;
  position: relative;
  right: 0px;
  text-transform: uppercase;
  width: 90px;
}

/* line 34 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.timeline-line-right {
  background-color: #fff;
  float: right;
  height: 1px;
  position: relative;
  right: 0;
  top: -45px;
  width: -moz-calc(50% - 45px);
  width: -webkit-calc(50% - 45px);
  width: o-calc(5%);
  width: calc(50% - 45px);
}

/* line 46 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.timeline-line-left {
  background-color: #fff;
  float: left;
  height: 1px;
  position: relative;
  left: 0;
  top: -45px;
  width: -moz-calc(50% - 45px);
  width: -webkit-calc(50% - 45px);
  width: o-calc(5%);
  width: calc(50% - 45px);
}

/* line 58 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.experience-location {
  font-size: 36px;
  font-weight: 300;
  margin: 60px 0px 0px;
}

/* line 63 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.experience-job {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0px 45px;
}

/* line 68 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.experience-header {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 5px;
}

/* line 73 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.experience-text {
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
}

/* line 78 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
.experience-duties > li {
  float: none;
}

/* line 81 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
#slide-one {
  background: url("../img/su.svg") no-repeat center -45px;
  background-color: #eb4924;
}

/* line 85 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
#slide-two {
  background: url("../img/intrinsik-media.svg") no-repeat bottom right;
  background-color: #5c6f7c;
  -webkit-background-size: 150% 150%;
  -moz-background-size: 150% 150%;
  background-size: 150% 150%;
}

/* line 90 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
#slide-three {
  background: url("../img/jwt.svg") no-repeat center -205px;
  background-color: #161c45;
  -webkit-background-size: 120% 120%;
  -moz-background-size: 120% 120%;
  background-size: 120% 120%;
}

/* line 95 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */
#slide-four {
  background: url("../img/luice-design.svg") no-repeat center -165px;
  background-color: #af1117;
}

/* line 98 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-2.styl */

/* line 98 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-3.styl */

/* line 58 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
.full-slide-height {
  height: 100%;
}

/* line 61 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
.wrap {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

/* line 68 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
#section2 .imgsContainer {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* line 76 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
#section2 img {
  height: 320px;
  margin: 90px auto 0px;
  margin-left: -20px;
  position: relative;
  top: 100px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  z-index: 10;
}

/* line 85 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
#iphone2.active {
  -webkit-transform: translate3d(0px, -100px, 0px);
  -moz-transform: translate3d(0px, -100px, 0px);
  -o-transform: translate3d(0px, -100px, 0px);
  -ms-transform: translate3d(0px, -100px, 0px);
  transform: translate3d(0px, -100px, 0px);
}

/* line 94 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
@media (max-width: 479px) {

/* line 96 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
  .example {
    font-size: 14px;
  }
}

/* line 100 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
@media (min-width: 480px), (max-width: 767px) {

/* line 102 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
  .example {
    font-size: 14px;
  }
}

/* line 106 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
@media (min-width: 768px), (max-width: 991px) {

/* line 108 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
  .example {
    font-size: 14px;
  }
}

/* line 112 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
@media (min-width: 992px), (max-width: 1199px) {

/* line 114 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
  .example {
    font-size: 14px;
  }
}

/* line 118 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
@media (min-width: 1200px) {

/* line 120 : /Users/mspangenberg/github/portfolio/src/stylus/site.styl */
  .example {
    font-size: 14px;
  }
}
