/*  
==========================================================================
Global Navigation Menu
==========================================================================
*/

#nav-background
    height 0
    background-color transparent
    border-left 360px solid transparent
    border-right 360px solid transparent
    border-top 150px solid rgba(255,255,255,0.96)
    position fixed
    width 0
    top 0px
    right 0
    left 0
    z-index 99
    -webkit-transition all 0.45s ease-out
    -moz-transition all 0.45s ease-out
    -o-transition all 0.45s ease-out
    transition all 0.45s ease-out
    margin 0 auto

.nav-background-visible
    background-color rgba(255,255,255,0.96) !important
    height 45px !important
    width 100% !important
    border-left 0px !important
    border-right 0px !important
    border-top 0px !important

#menu
    position absolute
    z-index 101
    top 290px
    left 0px
    right 0px
    height 45px
    margin 0
    padding 0
    line-height 44px
    visibility hidden
    -webkit-transition all 0.15s ease-out
    -moz-transition all 0.15s ease-out
    -o-transition all 0.15s ease-out
    transition all 0.15s ease-out

.menu-fixed
    position fixed !important
    top 0px !important

.menu-visible
    visibility visible !important

#menu li
    display inline-block
    height 45px
    margin 0px 15px
    overflow hidden
    -webkit-transition all 0.30s ease-out
    -moz-transition all 0.30s ease-out
    -o-transition all 0.30s ease-out
    transition all 0.30s ease-out


#menu li.active
    border-bottom 1px solid $menu-active-color

#menu li a
    text-decoration none
    font-size 14px
    color $menu-normal-color

#menu li a:hover
    color $menu-hover-color

#menu li.active a:hover
    color $menu-active-hover-color

#menu li:hover
    border-bottom 1px solid $menu-hover-color

#menu li a
#menu li.active a
    display block

#menu li.active a
    color $menu-active-color

/* 
==========================================================================
Media Queries
========================================================================== 
*/

/* Extra Small devices (up to 479px) */
@media (max-width: 479px)

    #nav-background
        border-left 195px solid transparent
        border-right 195px solid transparent
        border-top 120px solid rgba(255,255,255,0.96)

/* Medium Small devices (tablets, 480px and up) */
@media (min-width: 480px) and (max-width: 767px)

    .test
        font-size 14px

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px)

    .test
        font-size 14px

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px)

    .test
        font-size 14px

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)

    .test
        font-size 14px