/*  
==========================================================================
Global Navigation Menu
==========================================================================
*/

#menu
    position absolute
    z-index 101
    top 155px
    left 20px
    right 20px
    height 45px
    -webkit-transition all 0.7s ease-out
    -moz-transition all 0.7s ease-out
    -o-transition all 0.7s ease-out
    transition all 0.7s ease-out

.menu-fixed
  position fixed !important
  top 15px !important

#menu li
    display inline-block
    margin 10px

#menu li.active
    border-bottom 1px solid $menu-active-color

#menu li a
    text-decoration none
    font-size 14px
    color $menu-normal-color

#menu li a:hover
    color $menu-hover-color

#menu li.active a:hover
    color $menu-active-hover-color

#menu li:hover
    border-bottom 1px solid $menu-hover-color

#menu li a
#menu li.active a
    display block

#menu li.active a
    color $menu-active-color