// ==========================================================================
// Bootstrap Override Styles
// ==========================================================================

.container
    position relative
    z-index 1

a:hover, a:focus
    color $grey-dark-hex
    text-decoration none

ul
    padding 0
    margin 0

li
    list-style none

.no-style
    background-color transparent !important
    background-image none !important
    border none !important
    list-style none !important
    text-decoration none !important
    border none !important
    border-radius 0px !important
    -webkit-box-shadow none !important
    box-shadow none !important

.no-padding
    padding 0px !important

.no-margin
    margin 0px !important

.position-relative
    position relative

.position-absolute
    position absolute

.full-height
    height 100%

.full-width
    width 100%

.full-screen
    height 100%
    width 100%

.verticle-center
    position absolute
    top 50%

.transition-all
    -webkit-transition all 0.4s ease
    -moz-transition all 0.4s ease
    -o-transition all 0.4s ease
    transition all 0.4s ease

.transition-background
    -webkit-transition background 0.4s ease
    -moz-transition background 0.4s ease
    -o-transition background 0.4s ease
    transition background 0.4s ease