/*
==========================================================================
Polygon First Slide Background
==========================================================================
*/

.polygon
	position absolute
	height 100%
	width 100%
	top 0
	z-index 0

.overlay
	pointer-events none
	position absolute
	height 100%
	width 100%
	left 0
	top 0

.noise
	background-image url("../img/noise.png")
	opacity 0.15