// ==========================================================================
// Home Section
// ==========================================================================

#section0
    animation-duration 0.45s
    animation-delay 0.6s

#section0 .container
    -webkit-transition all 0.15s ease-out
    -moz-transition all 0.15s ease-out
    -o-transition all 0.15s ease-out
    transition all 0.15s ease-out

.section0-background-left
    height 0
    background-color transparent
    border-left 0px solid transparent
    border-right 0px solid transparent
    border-top 0px solid $left-angle
    position fixed
    width 0
    top 0px
    right 0
    left 0
    z-index 1
    -webkit-transition all 0.45s ease-out
    -moz-transition all 0.45s ease-out
    -o-transition all 0.45s ease-out
    transition all 0.45s ease-out
    margin 0 auto

.section0-background-right
    height 0
    background-color transparent
    border-left 0px solid transparent
    border-right 0px solid transparent
    border-bottom 0px solid $right-angle
    position fixed
    width 0
    bottom 0px
    right 0
    left 0
    z-index 1
    -webkit-transition all 0.45s ease-out
    -moz-transition all 0.45s ease-out
    -o-transition all 0.45s ease-out
    transition all 0.45s ease-out
    margin 0 auto

.section0-background-left-animate-to-menu
    border-top 0px solid $left-angle !important
    border-left-width 0px !important

.section0-background-right-animate-to-menu
    border-bottom 0px solid $right-angle !important
    border-right-width 0px !important

#section0-content
    width 100%
    margin-top 15px

.height-minus-nav
    height calc(100% - 45px)

#img-profile
    height 190px
    width 190px
    position absolute
    left 0
    right 0
    top calc(50% - 95px)
    margin 0 auto
    border-radius 95px
    border 1px solid $img-thumb-border
    background url($img-thumb-src)
    background-repeat no-repeat
    background-position center -30px
    background-size 195px auto

#section-0-prefix
    font-size 14px
    font-weight 500
    text-shadow $home-text-shadows 0px 1px
    text-transform uppercase
    letter-spacing 1px
    margin-bottom 0

#section-0-h1
    margin-top 5px
    font-size 36px
    font-weight 100
    text-shadow $home-text-shadows 0px 2px

#section-0-p
    font-size 16px
    font-weight 100
    text-shadow $home-text-shadows 0px 1px

#links-social
    position absolute
    bottom 15px
    right 12px

.icn-social
    display inline-block
    height 60px
    width 60px
    border 1px solid $icn-social-border
    border-radius 30px
    text-align center
    line-height 60px
    font-size 18px
    margin 15px 5px 5px

#angle-down
    width 90px
    height 90px
    position absolute
    bottom 15px
    right 0
    left 0
    margin: 0 auto;
    font-size 30px
    cursor pointer
    -webkit-animation-iteration-count infinite
    animation-iteration-count infinite

#angle-down i
    text-align center
    bottom 0
    position absolute
    text-align center
    right 0
    left 0
    margin 0 auto



// ==========================================================================
// Media Queries Example
// ==========================================================================

// Extra Small devices (up to 479px)
@media (max-width: 479px)

    #section-0-h1
        font-size 24px
        font-weight 500

    #section-0-p
        font-size 14px
        font-weight 500

    #img-profile
        height 150px
        width 150px
        top calc(50% - 75px)

    #links-social
        bottom -15px
        right 5px
        left 0
        margin 0 auto

// Medium Small devices (tablets, 480px and up)
@media (min-width: 480px) and (max-width: 767px)

    #section0-content
        margin-top 90px

    #img-profile
        height 150px
        width 150px
        top calc(50% - 75px)

    #links-social
        bottom 120px
        left 0
        margin 0 auto

// Small devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)

    .test
        font-size 14px

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)

    .test
        font-size 14px

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px)

    .test
        font-size 14px