/*  
==========================================================================
First Section Styles
==========================================================================
*/

#section3
    background-image url('../img/bg-work.jpg')
    background-size cover
    background-repeat no-repeat
