/*  
==========================================================================
First Section Styles
==========================================================================
*/

#section0-centent
    width 100%
    margin-top 210px

.arrow-down
    width 0 
    height 0
    border-left 20px solid transparent
    border-right 20px solid transparent
    border-top 20px solid #f00

// Anlge Down Arrow
#angle-down
    width 100%
    position absolute
    bottom 30px
    margin-left: -15px;
    font-size 30px
    -webkit-animation-iteration-count infinite
    animation-iteration-count infinite

#angle-down i
    text-align center
    width 100%