// ==========================================================================
// Featured Section
// ==========================================================================

*,
*:after,
*:before
	box-sizing border-box

.bl-main
	height -moz-calc(100% - 45px)
	height -webkit-calc(100% - 45px)
	height -o-calc(100% - 45px)
	height calc(100% - 45px)
	overflow hidden
	position absolute
	transition all 0.3s ease-out
	width 100%

.grow-bl-main
	height 100% !important
	top 0px !important

.bl-main > section
	background-position center bottom !important
	background-repeat no-repeat !important
	background-size cover !important
	height 50%
	position absolute
	transition all 0.5s ease-in-out
	width 50%

.bl-main > section:first-child
	background $sectionfirst-child
	background-image url($sectionfirst-child-bg-url), $sectionfirst-child-gradient
	border-bottom 1px solid $white-hex
	border-right 1px solid $white-hex
	left 0px
	top 0px
	transition all 0.3s linear

.bl-main > section:nth-child(2)
	background $sectionnth-child-two
	background-image url($sectionnth-child-two-bg-url), $sectionnth-child-two-gradient
	border-bottom 1px solid $white-hex
	border-left 1px solid $white-hex
	left 50%
	top 0px
	transition all 0.3s linear

.bl-main > section:nth-child(3)
	background $sectionnth-child-three
	background-image url($sectionnth-child-three-bg-url), $sectionnth-child-three-gradient
	border-right 1px solid $white-hex
	border-top 1px solid $white-hex
	left 0px
	top 50%
	transition all 0.3s linear

.bl-main > section:nth-child(4)
	background $sectionnth-child-four
	background-image url($sectionnth-child-four-bg-url), $sectionnth-child-four-gradient
	border-left 1px solid $white-hex
	border-top 1px solid $white-hex
	left 50%
	top 50%
	transition all 0.3s linear

.bl-box
	-moz-box-align center
	-webkit-align-items center
	-ms-flex-align center
	align-items center
	background-image $section-overlay
	cursor pointer
	height 100%
	-webkit-flex-direction row
	-ms-flex-direction row
	flex-direction row
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-wrap wrap
	-ms-flex-wrap wrap
	flex-wrap wrap
	-webkit-box-pack center
	-moz-box-pack center
	-webkit-justify-content center
	-ms-flex-pack center
	justify-content center
	-webkit-box-align center
	opacity 1
	position relative
	width 100%

.bl-box h2
	font-size 32px
	font-weight 300
	margin 0px
	text-align center
	width 100%
	text-shadow $section-h2-text-shadow 0px 1px
	transition all 0.2s ease-in-out

.bl-main > section .bl-icon-close
	cursor pointer
	font-size 21px
	pointer-events none
	position absolute
	opacity 0
	right 15px
	top 15px
	z-index 100

.bl-content .container
	padding 15px

.bl-content,
div.bl-panel-items > div > div
	bottom 0px
	left 0px
	padding 0 15px
	opacity 0
	overflow hidden
	overflow-y auto
	pointer-events none
	position absolute
	right 0px
	top 0px

.bl-content p
	font-size 18px
	font-weight 300
	margin 0px auto
	padding-bottom 15px

.bl-content h2
	font-size 36px
	font-weight 300
	margin 0px 0px 20px 0px

.bl-content > ul
	list-style none
	margin 0px
	padding 0px

.bl-content > ul li
	display inline-block
	margin 1%
	width 20%

.bl-content > ul li a
	display block
	padding 0px

.bl-main > section.bl-expand
	height -moz-calc(100% - 45px)
	height -webkit-calc(100% - 45px)
	height -o-calc(100% - 45px)
	height calc(100% - 45px)
	left 0px
	top 0px
	width 100%

.bl-main > section.bl-expand-top
	z-index 100

.bl-main > section:first-child.bl-expand
	background $first-child-bl-expand
	border none

.bl-main > section:nth-child(2).bl-expand
	background $nth-child-two-bl-expand
	border none

.bl-main > section:nth-child(3).bl-expand
	background $nth-child-three-bl-expand
	border none

.bl-main > section:nth-child(4).bl-expand
	background $nth-child-four-bl-expand
	border none

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down
	opacity 0
	transform scale(0.5)

section.bl-expand .bl-box
	opacity 0
	transition opacity 0s linear

.no-touch section:not(.bl-expand) .bl-box:hover h2
	font-size 36px

.bl-content,
.bl-icon-close
	transition opacity 0.1s linear 0s

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close
	opacity 1
	pointer-events auto
	transition opacity 0.3s linear 0.5s

// ==========================================================================
// Slide Up Inner Panel Items CSS
// ==========================================================================

// div.bl-panel-items,
// div.bl-panel-items > div
// 	width 100%
// 	height 100%
// 	top 0
// 	left 0
// 	position absolute


// div.bl-panel-items > div > div
// 	width 100%
// 	margin 0 auto
// 	opacity 1
// 	bottom 30px
// 	top 90px
// 	pointer-events auto

// div.bl-panel-items > div > div h3
// 	font-size 32px
// 	font-weight 300
// 	margin 0 0 20px 0


// div.bl-panel-items > div > div p
// 	font-size 18px

// div.bl-panel-items
// 	top 100%
// 	z-index 9999


// div.bl-panel-items > div
// 	background $panel-bg
// 	z-index 0
// 	opacity 0
// 	-webkit-transform translateY(0)
// 	-webkit-transition -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s
// 	-moz-transform translateY(0)
// 	-moz-transition -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s
// 	transform translateY(0)
// 	transition transform 0.5s ease-in-out, opacity 0s linear 0.5s
// 	-ms-transform translateY(0)


// div.bl-panel-items nav
// 	position absolute
// 	z-index 1001
// 	width 100%
// 	height 45px
// 	left 0px
// 	right 0px
// 	top 0
// 	margin 0 auto
// 	opacity 0
// 	-webkit-transition opacity 0.2s ease-in-out 0.2s
// 	-moz-transition opacity 0.2s ease-in-out 0.2s
// 	transition opacity 0.2s ease-in-out 0.2s


// div.bl-panel-items.bl-panel-items-show nav span,
// div.bl-panel-items.bl-panel-items-show nav span i
// 	font-size 21px
// 	margin 0 15px
// 	color $panel-nav-text


// div.bl-panel-items nav span.bl-next-work,
// div.bl-panel-items nav span.bl-panel-close
// 	font-weight 300
// 	display block
// 	line-height 45px
// 	cursor pointer
// 	margin 0 30px

// div.bl-panel-items.bl-panel-items-show nav
// 	opacity 1
// 	background-color $panel-nav


// div.bl-panel-items > div.bl-show-work
// 	z-index 1000
// 	opacity 1
// 	-webkit-transform translateY(-100%)
// 	-webkit-transition -webkit-transform 0.5s ease-in-out
// 	-moz-transform translateY(-100%)
// 	-moz-transition -moz-transform 0.5s ease-in-out
// 	transform translateY(-100%)
// 	transition transform 0.5s ease-in-out
// 	-ms-transform translateY(-100%)


// div.bl-panel-items > div.bl-hide-current-work
// 	opacity 0
// 	-webkit-transition -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out
// 	-webkit-transform translateY(-100%) scale(0.5)
// 	-moz-transition -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out
// 	-moz-transform translateY(-100%) scale(0.5)
// 	transition transform 0.5s ease-in-out, opacity 0.5s ease-in-out
// 	transform translateY(-100%) scale(0.5)
// 	-ms-transform translateY(-100%) scale(0.5)
// 	z-index 0
