// ==========================================================================
// Featured Section
// ==========================================================================

*,
*:after,
*:before
	box-sizing border-box

.bl-main
	height -moz-calc(100% - 45px)
	height -webkit-calc(100% - 45px)
	height -o-calc(100% - 45px)
	height calc(100% - 45px)
	overflow hidden
	position absolute
	width 100%

.grow-bl-main
	height 100% !important
	top 0px !important

.bl-main > section
	background-position center bottom !important
	background-repeat no-repeat !important
	background-size cover !important
	height 50%
	position absolute
	transition all 0.5s ease-in-out
	width 50%

.bl-main > section:first-child
	background $sectionfirst-child
	background-image url($sectionfirst-child-bg-url)
	border-bottom 1px solid $white-hex
	border-right 1px solid $white-hex
	-webkit-filter grayscale(1)
	filter grayscale(1)
	left 0px
	top 0px
	transition all 0.3s linear

.bl-main > section:nth-child(2)
	background $sectionnth-child-two
	background-image url($sectionnth-child-two-bg-url)
	border-bottom 1px solid $white-hex
	border-left 1px solid $white-hex
	-webkit-filter grayscale(1)
	filter grayscale(1)
	left 50%
	top 0px
	transition all 0.3s linear

.bl-main > section:nth-child(3)
	background $sectionnth-child-three
	background-image url($sectionnth-child-three-bg-url)
	border-right 1px solid $white-hex
	border-top 1px solid $white-hex
	-webkit-filter grayscale(1)
	filter grayscale(1)
	left 0px
	top 50%
	transition all 0.3s linear

.bl-main > section:nth-child(4)
	background $sectionnth-child-four
	background-image url($sectionnth-child-four-bg-url)
	border-left 1px solid $white-hex
	border-top 1px solid $white-hex
	-webkit-filter grayscale(1)
	filter grayscale(1)
	left 50%
	top 50%
	transition all 0.3s linear

.bl-main > section:first-child:hover,
.bl-main > section:nth-child(2):hover,
.bl-main > section:nth-child(3):hover,
.bl-main > section:nth-child(4):hover
	-webkit-filter none
	filter none

.bl-box
	-moz-box-align center
	-webkit-align-items center
	-ms-flex-align center
	align-items center
	background-color $section-overlay
	cursor pointer
	height 100%
	-webkit-flex-direction row
	-ms-flex-direction row
	flex-direction row
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-wrap wrap
	-ms-flex-wrap wrap
	flex-wrap wrap
	-webkit-box-pack center
	-moz-box-pack center
	-webkit-justify-content center
	-ms-flex-pack center
	justify-content center
	-webkit-box-align center
	opacity 1
	position relative
	width 100%

.bl-box h2
	font-size 32px
	font-weight 300
	margin 0px
	text-align center
	width 100%
	text-shadow $section-h2-text-shadow 0px 2px
	transition all 0.2s ease-in-out

.bl-main > section .bl-icon-close
	color $grey-dark-hex
	float left
	font-size 14px
	height 45px
	line-height 45px
	pointer-events none
	position relative
	opacity 0
	text-align center
	top 0px
	z-index 100

.bl-main > section .bl-icon-close i
	color $grey-dark-hex
	font-size 14px
	margin-right 5px

.bl-content,
div.bl-panel-items > div > div
	bottom 0px
	cursor pointer
	left 0px
	padding 0 15px
	opacity 0
	overflow hidden
	overflow-y auto
	pointer-events none
	position absolute
	right 0px
	top 0px

.bl-content p
	font-size 18px
	font-weight 300
	margin 0px auto

.bl-content h2
	font-size 64px
	font-weight 300
	left 0
	margin 0px 0px 20px 0px
	position absolute
	right 0px
	text-shadow #000 0px 1px
	top -250px

.bl-content .container
	background-color #333
	margin-top 410px
	padding 15px

.bl-main > section.bl-expand
	height 100%
	left 0px
	top 0px
	width 100%

.bl-expand-item
	top 0px
	height -moz-calc(100% + 45px)
	height -webkit-calc(100% + 45px)
	height -o-calc(100% + 45px)
	height calc(100% + 45px)

.featured-nav
	background-color rgba(255,255,255,0.86)
	height 0px
	opacity 0
	position absolute
	top 0
	width 100%

.featured-nav-show
	height 45px
	opacity 1

.bl-main > section.bl-expand-top
	z-index 100

.bl-main > section:first-child.bl-expand
	// background $first-child-bl-expand
	border none

.bl-main > section:nth-child(2).bl-expand
	// background $nth-child-two-bl-expand
	border none

.bl-main > section:nth-child(3).bl-expand
	// background $nth-child-three-bl-expand
	border none

.bl-main > section:nth-child(4).bl-expand
	// background $nth-child-four-bl-expand
	border none

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down
	opacity 0
	transform scale(0.5)

section.bl-expand .bl-box
	opacity 0
	transition opacity 0s linear

.no-touch section:not(.bl-expand) .bl-box:hover h2
	font-size 36px

.bl-content,
.bl-icon-close
	transition opacity 0.1s linear 0s

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close
	opacity 1
	pointer-events auto
	transition opacity 0.3s linear 0.3s