// ==========================================================================
// Experience Section
// ==========================================================================

.fp-controlArrow
	display none
	opacity 0
	visibility hidden

.experience-container
	opacity 0
	top -moz-calc(50% - 400px)
	top -webkit-calc(50% - 400px)
	top -o-calc(50% - 400px)
	top calc(50% - 400px)

.experience-timeline
	opacity 0
	position relative
	top 45px
	transition all .3s linear
	z-index 3

.timestamp-next:hover
	font-size 0px

.timestamp-next span
	display none
	float left
	font-size 28px
	left -moz-calc(50% - 5px)
	left -webkit-calc(50% - 5px)
	left -o-calc(50% - 5px)
	left calc(50% - 5px)
	margin 0px auto
	opacity 0
	position relative
	top -moz-calc(50% - 14px)
	top -webkit-calc(50% - 14px)
	top -o-calc(50% - 14px)
	top calc(50% - 14px)
	transition all .15s linear
	visibility hidden

.timestamp-next:hover span
	display block
	opacity 1
	visibility visible

.timestamp-loop:hover
	font-size 0px

.timestamp-loop span
	display none
	float left
	font-size 18px
	left -moz-calc(50% - 7px)
	left -webkit-calc(50% - 7px)
	left -o-calc(50% - 7px)
	left calc(50% - 7px)
	margin 0px auto
	opacity 0
	position relative
	top -moz-calc(50% - 9px)
	top -webkit-calc(50% - 9px)
	top -o-calc(50% - 9px)
	top calc(50% - 9px)
	transition all .15s linear
	visibility hidden

.timestamp-loop:hover span
	display block
	opacity 1
	visibility visible

.timestamp
	border 1px solid white
	border-radius 45px
	font-size 12px
	font-weight 500
	height 90px
	left 0px
	line-height 90px
	margin 75px auto 0
	position relative
	right 0px
	text-transform uppercase
	transition all .15s linear
	width 90px

.timeline-line-right
	background-color white
	float right
	height 1px
	position relative
	right 0
	top -45px
	width -moz-calc(50% - 45px)
	width -webkit-calc(50% - 45px)
	width o-calc(50% - 45px)
	width calc(50% - 45px)

.timeline-line-left
	background-color white
	float left
	height 1px
	position relative
	left 0
	top -45px
	width -moz-calc(50% - 45px)
	width -webkit-calc(50% - 45px)
	width o-calc(50% - 45px)
	width calc(50% - 45px)

.experience-location
	font-size 36px
	font-weight 300
	margin 120px 0px 0px

.experience-job
	font-size 14px
	font-weight 500
	margin 10px 0px 45px

.experience-header
	font-size 16px
	font-weight 500
	margin 0px 0px 5px

.experience-text
	font-size 16px
	font-weight 300
	margin 0px

.experience-duties > li
	float none

#slide-one
	background url(../img/su.svg) no-repeat center -45px
	background-color #eb4924

#slide-two
	background url(../img/intrinsik-media.svg) no-repeat bottom right
	background-color #5c6f7c
	background-size 150% 150%

#slide-three
	background url(../img/jwt.svg) no-repeat center -205px
	background-color #161C45
	background-size 120% 120%

#slide-four
	background url(../img/luice-design.svg) no-repeat center -165px
	background-color #af1117
