/* 
==========================================================================
Variables
========================================================================== 
*/

// Greys
$white-hex ?=                   #ffffff
$grey-light-hex ?=              #f2f2f2
$grey-dark-hex ?=               #333333
$black-hex ?=                   #000000

// Menu
$menu-normal-color ?=           #cccccc
$menu-hover-color ?=            #ffffff
$menu-active-color ?=           #333333
$menu-active-hover-color ?=     #b2b2b2