/*
==========================================================================
Color Variables
==========================================================================
*/

// Greys
$white-hex ?=                   #ffffff
$grey-light-hex ?=              #f2f2f2
$grey-dark-hex ?=               #333333
$black-hex ?=                   #000000

// Menu
$nav-background ?=				rgba(255,255,255,1)
$nav-brand ?=					#333333
$nav-links ?=					#999999
$nav-hover-color ?=				#cccccc
$nav-active-color ?=			#333333
$nav-active-hover-color ?=		#999999
$nav-dropdown ?=				#f2f2f2

// Home Section 0
$left-angle ?=					rgba(255,255,255,0.45)
$right-angle ?=					rgba(0,0,0,0.45)
$home-text-shadows ?=			#333333
$img-thumb-border ?=			#ffffff
$icn-social-border ?=			#ffffff


// Featured Section 1
$sectionfirst-child ?=			#333333
$sectionnth-child-two ?=		#666666
$sectionnth-child-three ?=		#666666
$sectionnth-child-four ?=		#333333

$first-child-bl-expand ?=		#333333
$nth-child-two-bl-expand ?=		#666666
$nth-child-three-bl-expand ?=	#666666
$nth-child-four-bl-expand ?=	#333333

/*
==========================================================================
Path Variables
==========================================================================
*/

// Home Section 0
$img-thumb-src ?=				'../img/img-mspangenberg-ux-designer.png'

// Featured Section 1