
/* line 16 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */

/* line 1 : /Users/MSpangenberg/Development/mattspangenberg.com/node_modules/stylus/lib/functions/index.styl */

/* line 6 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
@media (max-width: 479px) {

/* line 9 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #menu li {
    margin: 0px;
    width: 100%;
  }

/* line 13 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #menu li.active {
    background-color: #ccc;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
  }

/* line 18 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .collapsing #menu li a,
  .navbar-collapse.in #menu li a {
    margin-top: 0px;
  }

/* line 22 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #section-0-h1 {
    font-size: 24px;
    font-weight: 500;
  }

/* line 26 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #section-0-p {
    font-size: 14px;
    font-weight: 500;
  }

/* line 30 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #img-profile {
    height: 150px;
    top: -moz-calc(50% - 75px);
    top: -webkit-calc(50% - 75px);
    top: -o-calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
  }

/* line 38 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #links-social {
    bottom: -15px;
    left: 0px;
    margin: 0px auto;
    right: 5px;
  }

/* line 45 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .bl-box h2 {
    font-size: 16px;
  }

/* line 48 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .no-touch section:not(.bl-expand) .bl-box:hover h2 {
    font-size: 21px;
  }

/* line 51 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .bl-main > section:first-child,
  .bl-main > section:nth-child(2),
  .bl-main > section:nth-child(3),
  .bl-main > section:nth-child(4) {
    -webkit-filter: none;
    filter: none;
  }

/* line 58 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .bl-content .container {
    margin-top: 60px;
  }

/* line 61 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .bl-content h2 {
    font-size: 28px;
  }

/* line 64 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .bl-content h2 {
    margin: 30px 0px 20px 0px;
    position: initial;
  }

/* line 69 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .experience-location {
    margin: 210px 0px 0px;
  }

/* line 73 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skill-bucket {
    margin-top: 15px;
  }

/* line 76 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skill-bucket-icon {
    display: none;
  }

/* line 79 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skill-name {
    margin: 5px 0px;
  }

/* line 82 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skills-list {
    background-color: transparent;
    border: none;
    margin-top: 0px;
    padding: 0px;
  }

/* line 88 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skills-list-item {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
  }
}

/* line 94 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
@media (min-width: 480px) and (max-width: 767px) {

/* line 97 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #section0-content {
    margin-top: 90px;
  }

/* line 100 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #img-profile {
    height: 150px;
    top: -moz-calc(50% - 75px);
    top: -webkit-calc(50% - 75px);
    top: -o-calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
  }

/* line 108 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  #links-social {
    bottom: 120px;
    left: 0px;
    margin: 0px auto;
  }

/* line 115 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .bl-content .container {
    margin-top: 195px;
  }

/* line 118 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .bl-main > section:first-child,
  .bl-main > section:nth-child(2),
  .bl-main > section:nth-child(3),
  .bl-main > section:nth-child(4) {
    -webkit-filter: none;
    filter: none;
  }

/* line 125 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .bl-content h2 {
    top: -140px;
  }

/* line 129 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .experience-location {
    margin-top: 150px;
  }

/* line 132 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  p.experience-text {
    margin-bottom: 30px;
  }

/* line 136 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skill-bucket {
    margin-top: 30px;
  }

/* line 139 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skill-bucket-icon {
    display: none;
  }

/* line 142 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skill-name {
    margin: 15px 0px;
  }

/* line 145 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skills-list {
    margin-top: 0px;
  }

/* line 148 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .skills-list-item {
    font-size: 12px;
  }
}

/* line 152 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
@media (min-width: 768px) and (max-width: 991px) {

/* line 154 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .example {
    font-size: 14px;
  }
}

/* line 158 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
@media (min-width: 992px) and (max-width: 1199px) {

/* line 160 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .example {
    font-size: 14px;
  }
}

/* line 164 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
@media (min-width: 1200px) {

/* line 166 : /Users/MSpangenberg/Development/mattspangenberg.com/src/stylus/site/media-queries.styl */
  .example {
    font-size: 14px;
  }
}
