
/* line 16 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#nav-background {
  height: 0px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin: 0 auto;
}

/* line 20 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.nav-background-visible {
  height: 45px !important;
  background-color: $nav-background !important;
}

/* line 24 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar {
  position: fixed;
  z-index: 101;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  min-height: 0px;
  margin: 0;
  padding: 0;
  line-height: 44px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-image: none;
  background-color: transparent !important;
  border-radius: 0px;
  box-shadow: none;
  border: none;
}

/* line 48 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-visible {
  visibility: visible !important;
  opacity: 1 !important;
  height: 45px !important;
  min-height: 45px !important;
}

/* line 54 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-brand {
  color: $nav-brand;
}

/* line 57 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-brand {
  float: left;
  height: 45px;
  padding: 0px 15px;
  font-size: 14px;
  line-height: 45px;
}

/* line 64 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar #menu li a {
  color: $nav-links;
}

/* line 67 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-nav>.active>a {
  background-image: none;
  box-shadow: none;
}

/* line 71 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}

/* line 74 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-toggle {
  position: relative;
  float: right;
  padding: 6px 10px;
  margin-top: 9px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}

/* line 86 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-nav {
  margin: 0px -15px;
}

/* line 89 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.collapsing,
.navbar-collapse.in {
  background-color: $nav-dropdown;
}

/* line 93 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.collapsing #menu li a,
.navbar-collapse.in #menu li a {
  margin-top: 10px;
}

/* line 97 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li {
  display: inline-block;
  height: 45px;
  margin: 0px 15px;
  overflow: hidden;
}

/* line 103 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active {
  border-bottom: 1px solid $nav-active-color;
}

/* line 106 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a {
  text-decoration: none;
  font-size: 14px;
}

/* line 110 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a:hover {
  color: $nav-hover-color;
}

/* line 113 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active a:hover {
  color: $nav-active-hover-color;
}

/* line 116 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li:hover {
  border-bottom: 1px solid $nav-hover-color;
}

/* line 119 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a,
#menu li.active a {
  display: block;
}

/* line 123 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active a {
  color: $nav-active-color;
}

/* line 131 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
@media (max-width: 479px) {

/* line 133 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .test {
    font-size: 14px;
  }
}

/* line 137 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
@media (min-width: 480px) and (max-width: 767px) {

/* line 139 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .test {
    font-size: 14px;
  }
}

/* line 143 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
@media (min-width: 768px) and (max-width: 991px) {

/* line 145 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .test {
    font-size: 14px;
  }
}

/* line 149 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
@media (min-width: 992px) and (max-width: 1199px) {

/* line 151 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .test {
    font-size: 14px;
  }
}

/* line 155 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
@media (min-width: 1200px) {

/* line 157 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
  .test {
    font-size: 14px;
  }
}
