
/* line 16 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#nav-background {
  background-color: transparent;
  height: 0px;
  left: 0px;
  margin: 0px auto;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 99;
}

/* line 17 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.nav-background-visible {
  background-color: $nav-background !important;
  height: 45px !important;
}

/* line 21 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar {
  background-color: transparent !important;
  background-image: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  height: 0px;
  left: 0px;
  line-height: 44px;
  margin: 0px;
  min-height: 0px;
  padding: 0px;
  opacity: 0;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: all 0.2s ease-out;
  visibility: hidden;
  z-index: 101;
}

/* line 41 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-visible {
  height: 45px !important;
  min-height: 45px !important;
  opacity: 1 !important;
  visibility: visible !important;
}

/* line 47 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-brand {
  color: $nav-brand;
}

/* line 50 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-brand {
  float: left;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  padding: 0px 15px;
}

/* line 57 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar #menu li a {
  color: $nav-links;
}

/* line 60 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-nav>.active>a {
  background-image: none;
  box-shadow: none;
}

/* line 64 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}

/* line 67 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  float: right;
  margin: 9px 15px 8px 0px;
  padding: 6px 10px;
  position: relative;
}

/* line 77 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.navbar-nav {
  margin: 0px -15px;
}

/* line 80 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.collapsing,
.navbar-collapse.in {
  background-color: $nav-dropdown;
}

/* line 84 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
.collapsing #menu li a,
.navbar-collapse.in #menu li a {
  margin-top: 10px;
}

/* line 88 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li {
  display: inline-block;
  height: 45px;
  margin: 0px 15px;
  overflow: hidden;
}

/* line 94 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active {
  border-bottom: 1px solid $nav-active-color;
}

/* line 97 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a {
  font-size: 14px;
  text-decoration: none;
}

/* line 101 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a:hover {
  color: $nav-hover-color;
}

/* line 104 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active a:hover {
  color: $nav-active-hover-color;
}

/* line 107 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li:hover {
  border-bottom: 1px solid $nav-hover-color;
}

/* line 110 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li a,
#menu li.active a {
  display: block;
}

/* line 114 : /Users/mspangenberg/github/portfolio/src/stylus/site/menu.styl */
#menu li.active a {
  color: $nav-active-color;
}
