
/* line 16 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */
.polygon {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

/* line 12 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */
.overlay {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 20 : /Users/mspangenberg/github/portfolio/src/stylus/site/polygon.styl */
.noise {
  background-image: url("../img/noise.png");
  opacity: 0.15;
}
