
/* line 16 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-3.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-3.styl */
.skill-bucket {
  background-color: rgba(255,255,255,0.15);
  border: 1px solid $white-hex;
  border-radius: 4px;
  margin-top: 30%;
  opacity: 0;
  width: 100%;
}

/* line 13 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-3.styl */
.skill-bucket-icon {
  border: 1px solid $white-hex;
  border-radius: 82.5px;
  font-size: 42px;
  height: 165px;
  left: 0px;
  line-height: 165px;
  margin: 60px auto 30px;
  right: 0px;
  top: 30px;
  width: 165px;
}

/* line 25 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-3.styl */
.skill-name {
  font-size: 21px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  width: 100%;
}

/* line 33 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-3.styl */
.skills-list {
  background-color: $grey-dark-hex;
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid $white-hex;
  bottom: 1px;
  margin-top: 45px;
  padding: 15px 0px;
  position: relative;
  width: 100%;
}

/* line 43 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-3.styl */
.skills-list-item {
  font-size: 14px;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  margin: 5px 0px;
}
