
/* line 9 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 161 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
/*
==========================================================================
Home Section 0 Styles
==========================================================================
*/

/* line 7 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section0 {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 15 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section0 .container {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* line 21 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.section0-background-left {
  height: 0;
  background-color: transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid $left-angle;
  position: fixed;
  width: 0;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  margin: 0 auto;
}

/* line 39 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.section0-background-right {
  height: 0;
  background-color: transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid $right-angle;
  position: fixed;
  width: 0;
  bottom: 0px;
  right: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  margin: 0 auto;
}

/* line 57 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.section0-background-left-animate-to-menu {
  border-top: 0px solid $left-angle !important;
  border-left-width: 0px !important;
}

/* line 61 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.section0-background-right-animate-to-menu {
  border-bottom: 0px solid $right-angle !important;
  border-right-width: 0px !important;
}

/* line 65 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section0-content {
  width: 100%;
  margin-top: 15px;
}

/* line 69 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#img-profile {
  height: 190px;
  width: 190px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 95px);
  margin: 0 auto;
  border-radius: 95px;
  border: 1px solid $img-thumb-border;
  background: url("$img-thumb-src");
  background-repeat: no-repeat;
  background-position: center -30px;
  background-size: 195px auto;
}

/* line 84 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section-0-prefix {
  font-size: 14px;
  font-weight: 500;
  text-shadow: $home-text-shadows 0px 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* line 91 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section-0-h1 {
  margin-top: 5px;
  font-size: 36px;
  font-weight: 100;
  text-shadow: $home-text-shadows 0px 2px;
}

/* line 97 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#section-0-p {
  font-size: 16px;
  font-weight: 100;
  text-shadow: $home-text-shadows 0px 1px;
}

/* line 102 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#links-social {
  position: absolute;
  bottom: 15px;
  right: 0;
}

/* line 107 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
.icn-social {
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 1px solid $icn-social-border;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  margin: 15px 5px 5px;
}

/* line 118 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#angle-down {
  width: 100%;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 30px;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 129 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
#angle-down i {
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

/* line 136 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
/*
==========================================================================
Media Queries
==========================================================================
*/

/* line 142 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
/* Extra Small devices (up to 479px) */

/* line 143 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
@media (max-width: 479px) {

/* line 145 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #section-0-h1 {
    font-size: 32px;
  }

/* line 148 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #links-social {
    bottom: 120px;
    left: 0;
    margin: 0 auto;
  }
}

/* line 153 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
/* Medium Small devices (tablets, 480px and up) */

/* line 154 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
@media (min-width: 480px) and (max-width: 767px) {

/* line 156 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #section0-content {
    margin-top: 90px;
  }

/* line 159 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  #links-social {
    bottom: 120px;
    left: 0;
    margin: 0 auto;
  }
}

/* line 164 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
/* Small devices (tablets, 768px and up) */

/* line 165 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
@media (min-width: 768px) and (max-width: 991px) {

/* line 167 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  .test {
    font-size: 14px;
  }
}

/* line 170 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
/* Medium devices (desktops, 992px and up) */

/* line 171 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
@media (min-width: 992px) and (max-width: 1199px) {

/* line 173 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  .test {
    font-size: 14px;
  }
}

/* line 176 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
/* Large devices (large desktops, 1200px and up) */

/* line 177 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
@media (min-width: 1200px) {

/* line 179 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-0.styl */
  .test {
    font-size: 14px;
  }
}
