
/* line 16 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 6 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main {
  position: absolute;
  width: 100%;
  height: calc(100% - 45px);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
}

/* line 18 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
-moz-transition all 0.3s ease-out,
-o-transition all 0.3s ease-out,
transition all 0.3s ease-out,
.grow-bl-main {
  height: 100% !important;
  top: 0 !important;
}

/* line 26 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section {
  position: absolute;
  width: 50%;
  height: 50%;
  background-size: cover !important;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
}

/* line 34 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:first-child {
  top: 0;
  left: 0;
  background: $sectionfirst-child;
  background-image: url("$sectionfirst-child-bg-url"), $sectionfirst-child-gradient;
  border-right: 1px solid $white-hex;
  border-bottom: 1px solid $white-hex;
  transition: all 0.3s ease-out;
}

/* line 43 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(2) {
  top: 0;
  left: 50%;
  background: $sectionnth-child-two;
  background-image: url("$sectionnth-child-two-bg-url"), $sectionnth-child-two-gradient;
  border-left: 1px solid $white-hex;
  border-bottom: 1px solid $white-hex;
}

/* line 51 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(3) {
  top: 50%;
  left: 0;
  background: $sectionnth-child-three;
  background-image: url("$sectionnth-child-three-bg-url"), $sectionnth-child-three-gradient;
  border-right: 1px solid $white-hex;
  border-top: 1px solid $white-hex;
}

/* line 59 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(4) {
  top: 50%;
  left: 50%;
  background: $sectionnth-child-four;
  background-image: url("$sectionnth-child-four-bg-url"), $sectionnth-child-four-gradient;
  border-left: 1px solid $white-hex;
  border-top: 1px solid $white-hex;
}

/* line 67 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:first-child > .bl-box > h2 {
  height: 100%;
  background-color: rgba(235,73,36,0.6);
  background-image: linear-gradient(315deg, rgba(235,73,36,0.56) 0%, rgba(231,152,42,0.56) 100%);
}

/* line 72 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(2) > .bl-box > h2 {
  height: 100%;
  background-color: rgba(235,73,36,0.6);
  background-image: linear-gradient(45deg, rgba(235,73,36,0.56) 0%, rgba(231,152,42,0.56) 100%);
}

/* line 77 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(3) > .bl-box > h2 {
  height: 100%;
  background-color: rgba(235,73,36,0.6);
  background-image: linear-gradient(225deg, rgba(235,73,36,0.56) 0%, rgba(231,152,42,0.56) 100%);
}

/* line 82 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(4) > .bl-box > h2 {
  height: 100%;
  background-color: rgba(235,73,36,0.6);
  background-image: linear-gradient(135deg, rgba(235,73,36,0.56) 0%, rgba(231,152,42,0.56) 100%);
}

/* line 87 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
}

/* line 93 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
display -webkit-box,
display -moz-box,
display -ms-flexbox,
display -webkit-flex,
display flex,
-webkit-flex-direction row,
-ms-flex-direction row,
flex-direction row,
-webkit-flex-wrap wrap,
-ms-flex-wrap wrap,
flex-wrap wrap,
-webkit-box-pack center,
-moz-box-pack center,
-webkit-justify-content center,
-ms-flex-pack center,
justify-content center,
-webkit-box-align center,
-moz-box-align center,
-webkit-align-items center,
-ms-flex-align center,
align-items center,
.bl-box h2 {
  text-align: center;
  margin: 0;
  padding: 30% 0px;
  width: 100%;
  font-size: 32px;
  font-weight: 300;
}

/* line 123 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section .bl-icon-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  font-size: 21px;
}

/* line 133 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content .container {
  padding: 15px;
}

/* line 136 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content,
div.bl-panel-items > div > div {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0 15px;
  overflow: hidden;
  overflow-y: auto;
}

/* line 149 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content p {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
}

/* line 156 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content h2 {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

/* line 161 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 167 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content > ul li {
  display: inline-block;
  width: 20%;
  margin: 1%;
}

/* line 173 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content > ul li a {
  display: block;
  padding: 0;
}

/* line 178 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content > ul li a img {
  display: block;
  max-width: 100%;
}

/* line 185 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 190 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section.bl-expand {
  width: 100%;
  height: calc(100% - 45px);
  top: 0;
  left: 0;
}

/* line 196 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section.bl-expand-top {
  z-index: 100;
}

/* line 199 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:first-child.bl-expand {
  background: $first-child-bl-expand;
  background-image: none;
  border: none;
  transition: all 0.3s ease-out;
}

/* line 205 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(2).bl-expand {
  background: $nth-child-two-bl-expand;
  border: none;
}

/* line 209 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(3).bl-expand {
  background: $nth-child-three-bl-expand;
  border: none;
}

/* line 213 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main > section:nth-child(4).bl-expand {
  background: $nth-child-four-bl-expand;
  border: none;
}

/* line 217 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

/* line 225 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-box {
  -webkit-transition: opacity 0.2s linear 0.5s;
  -moz-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
}

/* line 230 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
section.bl-expand .bl-box {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

/* line 236 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-box h2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 241 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.no-touch section:not(.bl-expand) .bl-box:hover h2 {
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  -ms-transform: translateY(75%);
  transform: translateY(75%);
}

/* line 247 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
.bl-content,
.bl-icon-close {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}

/* line 253 : /Users/mspangenberg/github/portfolio/src/stylus/site/section-1.styl */
section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
}
