/*
Bootstrap 3 IE8 Extension.
Overrides all other classes to make sure IE8 is set to the col size of the medium layout.
*/

html.oldie .container {
  width: 992px;
}

html.oldie .hide-oldie {
    display: none;
}

html.oldie .col-md-1,
html.oldie .col-md-2,
html.oldie .col-md-3,
html.oldie .col-md-4,
html.oldie .col-md-5,
html.oldie .col-md-6,
html.oldie .col-md-7,
html.oldie .col-md-8,
html.oldie .col-md-9,
html.oldie .col-md-10,
html.oldie .col-md-11,
html.oldie .col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

html.oldie .col-md-1,
html.oldie .col-md-2,
html.oldie .col-md-3,
html.oldie .col-md-4,
html.oldie .col-md-5,
html.oldie .col-md-6,
html.oldie .col-md-7,
html.oldie .col-md-8,
html.oldie .col-md-9,
html.oldie .col-md-10,
html.oldie .col-md-11 {
  float: left;
}

html.oldie .col-md-1,
html.oldie .col-md-2,
html.oldie .col-md-3,
html.oldie .col-md-4,
html.oldie .col-md-5,
html.oldie .col-md-6,
html.oldie .col-md-7,
html.oldie .col-md-8,
html.oldie .col-md-9,
html.oldie .col-md-10,
html.oldie .col-md-11,
html.oldie .col-md-12 {
  float: left;
}
html.oldie .col-md-12 {
  width: 100%;
}
html.oldie .col-md-11 {
  width: 91.66666666666666%;
}
html.oldie .col-md-10 {
  width: 83.33333333333334%;
}
html.oldie .col-md-9 {
  width: 75%;
}
html.oldie .col-md-8 {
  width: 66.66666666666666%;
}
html.oldie .col-md-7 {
  width: 58.333333333333336%;
}
html.oldie .col-md-6 {
  width: 50%;
}
html.oldie .col-md-5 {
  width: 41.66666666666667%;
}
html.oldie .col-md-4 {
  width: 33.33333333333333%;
}
html.oldie .col-md-3 {
  width: 25%;
}
html.oldie .col-md-2 {
  width: 16.666666666666664%;
}
html.oldie .col-md-1 {
  width: 8.333333333333332%;
}
html.oldie .col-md-pull-12 {
  right: 100%;
}
html.oldie .col-md-pull-11 {
  right: 91.66666666666666%;
}
html.oldie .col-md-pull-10 {
  right: 83.33333333333334%;
}
html.oldie .col-md-pull-9 {
  right: 75%;
}
html.oldie .col-md-pull-8 {
  right: 66.66666666666666%;
}
html.oldie .col-md-pull-7 {
  right: 58.333333333333336%;
}
html.oldie .col-md-pull-6 {
  right: 50%;
}
html.oldie .col-md-pull-5 {
  right: 41.66666666666667%;
}
html.oldie .col-md-pull-4 {
  right: 33.33333333333333%;
}
html.oldie .col-md-pull-3 {
  right: 25%;
}
html.oldie .col-md-pull-2 {
  right: 16.666666666666664%;
}
html.oldie .col-md-pull-1 {
  right: 8.333333333333332%;
}
html.oldie .col-md-pull-0 {
  right: 0;
}
html.oldie .col-md-push-12 {
  left: 100%;
}
html.oldie .col-md-push-11 {
  left: 91.66666666666666%;
}
html.oldie .col-md-push-10 {
  left: 83.33333333333334%;
}
html.oldie .col-md-push-9 {
  left: 75%;
}
html.oldie .col-md-push-8 {
  left: 66.66666666666666%;
}
html.oldie .col-md-push-7 {
  left: 58.333333333333336%;
}
html.oldie .col-md-push-6 {
  left: 50%;
}
html.oldie .col-md-push-5 {
  left: 41.66666666666667%;
}
html.oldie .col-md-push-4 {
  left: 33.33333333333333%;
}
html.oldie .col-md-push-3 {
  left: 25%;
}
html.oldie .col-md-push-2 {
  left: 16.666666666666664%;
}
html.oldie .col-md-push-1 {
  left: 8.333333333333332%;
}
html.oldie .col-md-push-0 {
  left: 0;
}
html.oldie .col-md-offset-12 {
  margin-left: 100%;
}
html.oldie .col-md-offset-11 {
  margin-left: 91.66666666666666%;
}
html.oldie .col-md-offset-10 {
  margin-left: 83.33333333333334%;
}
html.oldie .col-md-offset-9 {
  margin-left: 75%;
}
html.oldie .col-md-offset-8 {
  margin-left: 66.66666666666666%;
}
html.oldie .col-md-offset-7 {
  margin-left: 58.333333333333336%;
}
html.oldie .col-md-offset-6 {
  margin-left: 50%;
}
html.oldie .col-md-offset-5 {
  margin-left: 41.66666666666667%;
}
html.oldie .col-md-offset-4 {
  margin-left: 33.33333333333333%;
}
html.oldie .col-md-offset-3 {
  margin-left: 25%;
}
html.oldie .col-md-offset-2 {
  margin-left: 16.666666666666664%;
}
html.oldie .col-md-offset-1 {
  margin-left: 8.333333333333332%;
}
html.oldie .col-md-offset-0 {
  margin-left: 0;
} 