
/* line 9 : /Users/mspangenberg/github/portfolio/src/stylus/portfolio/polygon.styl */

/* line 1 : /Users/mspangenberg/github/portfolio/node_modules/stylus/lib/functions/index.styl */

/* line 59 : /Users/mspangenberg/github/portfolio/src/stylus/portfolio/polygon.styl */
/*  
==========================================================================
Polygon First Slide Background
==========================================================================
*/

/* line 7 : /Users/mspangenberg/github/portfolio/src/stylus/portfolio/polygon.styl */
.polygon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

/* line 13 : /Users/mspangenberg/github/portfolio/src/stylus/portfolio/polygon.styl */
.overlay {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 21 : /Users/mspangenberg/github/portfolio/src/stylus/portfolio/polygon.styl */
.noise {
  background-image: url("../img/noise.png");
  opacity: 0.15;
}
