// Variables
$font-path ?= "../fonts/"

// Proxima Nova
// ! Importing Causes Underfined Error -> Fix Later
@import "fonts/lato.styl"

// Font Awesome
// Loaded in with Global Template in HEAD
.fa
  font-family: 'FontAwesome' !important