// ==========================================================================
// Loader Styles
// ==========================================================================
#loader
    background-color #fff
    height 100%
    left 0px
    position absolute !important
    right 0px
    width 100%
    z-index 1002 !important
    transition all 0.45s linear

.loader-shrink
    height 0px !important

#loader-headline
    color #333
    font-size 12px
    font-weight 500
    position relative
    top -moz-calc(50% - 45px)
    top -webkit-calc(50% - 45px)
    top -o-calc(50% - 45px)
    top calc(50% - 45px)

#loader-cont
    height 2px
    left 0px
    margin 0px auto
    position relative
    right 0px
    top calc(50% - 1px)
    width 60%

.loader-bar
    background #333
    height 100%
    left 0
    position absolute
    top 0