/* 
==========================================================================
Plugins Style Imports
========================================================================== 
*/

// Full Page JS (https://github.com/alvarotrigo/fullPage.js)
@import "plugins/jquery.fullPage.styl"

// Animate CSS (http://daneden.github.io/animate.css/)
@import "plugins/animate.styl"

// Animate CSS (http://www.justinaguilar.com/animations/index.html)
// @import "plugins/animations.styl"