// ==========================================================================
// Global Styles
// ==========================================================================

*
    color #ffffff
    font-family 'Lato', Arial, Helvetica, sans-serif !important
    text-align center
    -webkit-font-smoothing subpixel-antialiased

body
    background-color #333

#loader
    background-color #fff
    bottom 0px
    height 100%
    left 0px
    position absolute !important
    right 0px
    top 0px
    width 100%
    z-index 3 !important

#loader-headline
    color #333
    font-size 12px
    font-weight 500
    margin-top 120px

#loader-cont
    height 2px
    left 0px
    margin 30px auto 0px
    position relative
    right 0px
    width 60%

.loader-bar
    background #333
    height 100%
    left 0
    position absolute
    top 0

.fa
    font-family 'FontAwesome' !important

#fullpage
    display none
    z-index 2


// ==========================================================================
// Import Nib - Providing Robust Cross-Browser CSS3 Mixins
// ==========================================================================
@import 'nib'

// ==========================================================================
// Site Style Imports
// ==========================================================================

// Variables
@import "site/variables.styl"

// Override Classes
@import "site/overrides.styl"

// Polygon Background
@import "site/polygon.styl"

// Global Navigation Menu
@import "site/menu.styl"

// Home Section
@import "site/section-0.styl"

// Featured Section
@import "site/section-1.styl"

// Experience Section
@import "site/section-2.styl"

// Skills Section
@import "site/section-3.styl"

// Media Queries
@import "site/media-queries.styl"


// ==========================================================================
// Moving Image Test
// ==========================================================================

.full-slide-height
    height 100%

.wrap
    height 100%
    margin-left auto
    margin-right auto
    position relative
    width 100%

#section2 .imgsContainer
    display block
    height 100%
    overflow hidden
    position relative
    width 100%
    z-index 1

#section2 img
    height 320px
    margin 90px auto 0px
    margin-left -20px
    position relative
    top 100px
    transition all 0.7s ease-out
    z-index 10

#iphone2.active
    transform translate3d(0px, -100px, 0px)


// ==========================================================================
// Media Queries Example
// ==========================================================================

// Extra Small devices (up to 479px)
@media (max-width: 479px)

    .example
        font-size 14px

// Medium Small devices (tablets, 480px and up)
@media (min-width: 480px), (max-width: 767px)

    .example
        font-size 14px

// Small devices (tablets, 768px and up)
@media (min-width: 768px), (max-width: 991px)

    .example
        font-size 14px

// Medium devices (desktops, 992px and up)
@media (min-width: 992px), (max-width: 1199px)

    .example
        font-size 14px

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px)

    .example
        font-size 14px