/* 
==========================================================================
Temporary Global Styles
========================================================================== 
*/

*
    font-family 'Lato', 'RobotoSlab-Thin', Arial, Helvetica, sans-serif !important
    font-weight 100 !important
    color #ffffff
    text-align center

/* 
==========================================================================
Site Style Imports
========================================================================== 
*/

// Variables
@import "site/variables.styl"

// Override Classes
@import "site/overrides.styl"

// Polygon Background
@import "site/polygon.styl"

// Global Navigation Menu
@import "site/menu.styl"

/* 
==========================================================================
Moving Image Test
========================================================================== 
*/

.full-slide-height
    height 100%

.wrap
    width 100%
    height 100%
    margin-left auto
    margin-right auto
    position relative

#section2 .imgsContainer
    display block
    position relative
    z-index 1
    width 100%
    height 100%
    overflow hidden

#section2 img
    position relative
    margin 90px auto 0
    height 320px
    z-index 10
    top 100px
    margin-left -20px
    -webkit-transition all 0.7s ease-out
    -moz-transition all 0.7s ease-out
    -o-transition all 0.7s ease-out
    transition all 0.7s ease-out

#iphone2.active
    -webkit-transform translate3d(0px, -100px, 0px)
    -moz-transform translate3d(0px, -100px, 0px)
    -ms-transform translate3d(0px, -100px, 0px)
    transform translate3d(0px, -100px, 0px)

/* 
==========================================================================
Retina Test
========================================================================== 
*/

.retina-or-not
    display block
    margin 0 auto
    width 320px
    height 53px
    background-image url(../img/example.jpg)
    background-position center center
    background-repeat no-repeat

/* 
==========================================================================
Media Queries Test
========================================================================== 
*/

/* Extra Small devices (up to 479px) */
@media (max-width: 479px)

    .well
        font-size 14px

/* Medium Small devices (tablets, 480px and up) */
@media (min-width: 480px) and (max-width: 767px)

    .well
        font-size 14px

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px)

    .well
        font-size 14px

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px)

    .well
        font-size 14px

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)

    .well
        font-size 14px

/* Retina Assets */

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi)

    .retina-or-not
        background-image url(../img/example@2x.jpg)
        background-size 320px 53px

// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) {

//   .retina-or-not
//       background-image: url(../img/example@2x.jpg)
