<style>

  .grid-container {
      padding-left: 15px;
      padding-right: 15px;
    }

  .grid-row {
      margin-bottom: 15px;
    }

  .grid-col {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: rgba(51,51,51,.2);
      border: 1px solid rgba(51,51,51,.2);
    }

  .grid-well {
      margin-bottom: 0px;
      padding: 0px;
      color: #333333;
      text-align: center;
      border-radius: 0px;
      background-color: rgba(51,51,51,.2);
      border: 1px solid rgba(51,51,51,.2);
    }

</style>

<div class="container grid-container">
  <div class="visible-xs">
    <h3>Extra Small - 379px and Smaller</h3>
    <hr>
    <p class="lead">
      <strong>Container Width:</strong> auto<br />
      <strong>Column Width:</strong> auto<br />
      <strong>Gutter:</strong> 30px (15px on each side)<br />
      <strong>Class Prefix:</strong> col-xs-*
    </p>
    <p><i>*Use <b>ONLY 2-12</b> column widths adding to 12 columns.</i></p>
    <br />
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">12</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-11 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">11</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-10 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">10</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-9 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">9</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-8 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">8</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-7 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">7</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-6 grid-col col-ms12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">6</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-5 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">5</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-4 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">4</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-3 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">3</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-2 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">2</div></div>
    </div>
  </div>

  <div class="visible-ms">
    <h3>Medium Small - 480px to 767px</h3>
    <hr>
    <p class="lead">
      <strong>Container Width:</strong> auto<br />
      <strong>Column Width:</strong> auto<br />
      <strong>Gutter:</strong> 30px (15px on each side)<br />
      <strong>Class Prefix:</strong> col-ms-*
    </p>
    <p><i>*Use <b>ONLY 2-12</b> column widths adding to 12 columns.</i></p>
    <br />
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-12 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">12</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-11 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">11</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-10 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">10</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-9 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">9</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-8 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">8</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-7 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">7</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-6 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">6</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-5 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">5</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-4 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">4</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-3 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">3</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-xs-12 grid-col col-ms-2 grid-col col-sm-12 grid-col col-md-12 grid-col col-lg-12"><div class="well grid-well">2</div></div>
    </div>
  </div>

  <div class="hidden-xs hidden-ms">
    <div class="visible-sm">
      <h3>Small - 768px to 991px</h3>
      <hr>
      <p class="lead">
        <strong>Container Width:</strong> 750px<br />
        <strong>Column Width:</strong> 60px<br />
        <strong>Gutter:</strong> 30px (15px on each side)<br />
        <strong>Class Prefix:</strong> col-sm-*
      </p>
    </div>
    <div class="visible-md">
      <h3>Medium - 992px to 1199px</h3>
      <hr>
      <p class="lead">
        <strong>Container Width:</strong> 970px<br />
        <strong>Column Width:</strong> 78px<br />
        <strong>Gutter:</strong> 30px (15px on each side)<br />
        <strong>Class Prefix:</strong> col-md-*
      </p>
    </div>
    <div class="visible-lg">
      <h3>Large - 1200px and Larger</h3>
      <hr>
      <p class="lead">
        <strong>Container Width:</strong> 1170px<br />
        <strong>Column Width:</strong> 95px<br />
        <strong>Gutter:</strong> 30px (15px on each side)<br />
        <strong>Class Prefix:</strong> col-lg-*
      </p>
    </div>
    <p><i>*Use <b>1-12</b> column widths adding to 12 columns.</i></p>
    <br />
    <div class="row grid-row">
      <div class="grid-col col-sm-12"><div class="well grid-well">12</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-sm-6"><div class="well grid-well">6</div></div>
      <div class="grid-col col-sm-6"><div class="well grid-well">6</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-sm-4"><div class="well grid-well">4</div></div>
      <div class="grid-col col-sm-4"><div class="well grid-well">4</div></div>
      <div class="grid-col col-sm-4"><div class="well grid-well">4</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-sm-3"><div class="well grid-well">3</div></div>
      <div class="grid-col col-sm-3"><div class="well grid-well">3</div></div>
      <div class="grid-col col-sm-3"><div class="well grid-well">3</div></div>
      <div class="grid-col col-sm-3"><div class="well grid-well">3</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-sm-2"><div class="well grid-well">2</div></div>
      <div class="grid-col col-sm-2"><div class="well grid-well">2</div></div>
      <div class="grid-col col-sm-2"><div class="well grid-well">2</div></div>
      <div class="grid-col col-sm-2"><div class="well grid-well">2</div></div>
      <div class="grid-col col-sm-2"><div class="well grid-well">2</div></div>
      <div class="grid-col col-sm-2"><div class="well grid-well">2</div></div>
    </div>
    <div class="row grid-row">
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
      <div class="grid-col col-sm-1"><div class="well grid-well">1</div></div>
    </div>
  </div>
</div>