<div class="experience-timeline">
	<div class="timestamp">current</div>
	<div class="timeline-line-right"></div>
</div>

<div class="container experience-container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="experience-location text-center">StumbleUpon</h2>
			<h3 class="experience-job text-center">User Experience Designer</h3>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-4">
			<h4 class="experience-header text-left">About:</h4>
			<p class="experience-text text-left">StumbleUpon helps people easily discover new and interesting content on the web. Tell them what you like, and they’ll introduce you to amazing web pages, videos, photos, and more that you would not have found on your own.</p>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-5">
			<h4 class="experience-header text-left">Role:</h4>
			<p class="experience-text text-left">In order to innovate the product across platforms and channels, I collaborated with project managers, designers, and developers in engagement, acquisition, mobile, and marketing teams. Informed decisions were made based upon user research and then executed in the forms of sprints in regards to lean and agile methodologies.</p>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-3">
			<h4 class="experience-header text-left">Responsibilities:</h4>
			<ul class="experience-text experience-duties text-left">
				<li class="text-left">Visual Design</li>
				<li class="text-left">Branding Patterns</li>
				<li class="text-left">iOS Application UI and UX</li>
				<li class="text-left">Android UI and UX</li>
				<li class="text-left">Information Architecture</li>
				<li class="text-left">Prototyping and Mockups</li>
				<li class="text-left">Front End Development</li>
				<li class="text-left">User Research</li>
			</ul>
		</div>

	</div>
</div>

{{!-- <div class="wrap">
				<div class="imgsContainer">
					<img src="img/iphone2.png" alt="iphone" id="iphone2" />
				</div>
			</div> --}}