<div class="experience-timeline hidden-xs hidden-ms">
	<div id="timestamp-next" class="timestamp timestamp-next" onClick="_gaq.push(['_trackEvent', 'Experience', 'Next Slide', 'JWT']);">
		2012
		<span class="fa fa-angle-right"></span>
	</div>
	<div class="timeline-line-right"></div>
	<div class="timeline-line-left"></div>
</div>

<div class="container experience-container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="experience-location text-center">JWT</h2>
			<h3 class="experience-job text-center">Visual Analytical Technologist</h3>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-4 hidden-xs hidden-ms">
			<h4 class="experience-header text-left">About:</h4>
			<p class="experience-text text-left">JWT is one of the largest advertising agencies in the United States and the fourth-largest in the world. The analytic department's goal was to have a hand behind campaigns from start to end with baselines, goals, and reporting for tracking and optimization. </p>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-5">
			<h4 class="experience-header text-left">Role:</h4>
			<p class="experience-text text-left">In order to do so, we created an analytical platform in which our clients could view the performance of their campaigns in real time simply by visiting a dashboard accessible via web, tablet, and mobile. I pioneered the UI, UX, and development of each dashboard that were personalized to the respective client.</p>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-3 hidden-xs">
			<h4 class="experience-header text-left">Responsibilities:</h4>
			<ul class="experience-text experience-duties text-left">
				<li class="text-left">User Experience</li>
				<li class="text-left">User Interaction</li>
				<li class="text-left">Visual Design</li>
				<li class="text-left">Information Graphics</li>
				<li class="text-left">Web Analytics</li>
				<li class="text-left">Adhoc and Reporting</li>
				<li class="text-left">Social Media Listening</li>
				<li class="text-left">Server Administration </li>
			</ul>
		</div>

	</div>
</div>