<div class="experience-timeline hidden-xs hidden-ms">
	<div id="timestamp-loop" class="timestamp timestamp-loop" onClick="_gaq.push(['_trackEvent', 'Experience', 'Next Slide', 'Luice Design']);">
		2011
		<span class="fa fa-refresh"></span>
	</div>
	<div class="timeline-line-left"></div>
</div>

<div class="container experience-container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="experience-location text-center">Luice Design</h2>
			<h3 class="experience-job text-center">Digital Designer</h3>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-4 hidden-xs hidden-ms">
			<h4 class="experience-header text-left">About:</h4>
			<p class="experience-text text-left">Luice Design welcomes its clients to the world of creative printing and specialty business cards. With many of their designs featured throughout the internet, Luice Design offers the most unique print collateral with their extensive amount of materials and printing options.</p>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-5">
			<h4 class="experience-header text-left">Role:</h4>
			<p class="experience-text text-left">Creating the most unique business cards were not the priority, but were the result of reflecting the client's purpose and meaning through materials and printing techniques. I designed by this principal with each print collateral piece I created.</p>
		</div>

		<div class="col-xs-12 col-ms-12 col-sm-3 hidden-xs">
			<h4 class="experience-header text-left">Responsibilities:</h4>
			<ul class="experience-text experience-duties text-left">
				<li class="text-left">Design Print Collateral</li>
				<li class="text-left">Print Setup and Export</li>
				<li class="text-left">Visual Design</li>
				<li class="text-left">Liaison for Clients</li>
				<li class="text-left">Maintenance of Sites and Blogs</li>
				<li class="text-left">Product Photography</li>
				<li class="text-left">SEO</li>
			</ul>
		</div>

	</div>
</div>
