<div class="featured-nav">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<span class="bl-section-close bl-icon-close"><i class="fa fa-angle-left" onClick="_gaq.push(['_trackEvent', 'Featured', 'Close Featured', 'Conversations']);"></i>Back to Featured Projects</span>
			</div>
		</div>
	</div>
</div>