<div id="loader" class="container">
	<div class="row">
		<div class="col-xs-12">

			<h1 id="loader-headline">Matthew Spangenberg</h1>
			<div id="loader-cont">
    			<div class="loader-bar"></div>
			</div>

		</div>
	</div>
</div>