<div id="loader" class="container full-height">
	<div class="row full-height">
		<div class="col-xs-12 full-height">
			<div id="loader-cont">
    			<div class="loader-bar"></div>
			</div>
		</div>
	</div>
</div>