<div class="bl-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Project 1</h2>
				<!-- Panel Slider Trigger -->
				{{!-- <br />
				<ul id="bl-work-items">
					<li data-panel="panel-1">
						<a href="#" class="trigger-grow-bl-main">
							<p>Launch Panel</p>
						</a>
					</li>
				</ul>
				<br /> --}}
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
			</div>
		</div>
	</div>
</div>
<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>