<div class="section" id="section2">
	<div class="container full-slide-height">
		<div class="row full-slide-height">
			<div class="col-xs-12 full-slide-height">

				<div class="wrap">
					<div class="imgsContainer">
						<h1>Third Slide: <br /> Animation Test</h1>
						<img src="img/iphone2.png" alt="iphone" id="iphone2" />
					</div>
				</div>

				<!--
				<div class="retina-or-not"></div>
				-->

			</div>
		</div>
	</div>
</div>