<div class="section" id="section0">
	<div class="container full-height">
		<div class="row full-height">
			<div class="col-xs-12 full-height">
				<div id="section0-centent">
					<h1>Matthew Spangenberg</h1>
				</div>
			</div>
		</div>

		<div id="angle-down">
			<i class="fa fa-angle-down"></i><br />
		</div>

	</div>

	{{> polygon}}
</div>