<div class="section" id="section1">
    <div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Second Slide - A</h1>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Second Slide - B</h1>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Second Slide - C</h1>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Second Slide - D</h1>
				</div>
			</div>
		</div>
	</div>
</div>