<div class="section" id="section0">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Testing Font Awesome -->
				<i class="fa fa-circle-thin" style="font-size:200px; margin-top: 120px;"></i><br />
				<h1>Matthew Spangenberg</h1>
			</div>
		</div>
	</div>
	<div class="top"></div>
	{{> polygon}}
</div>