<div class="section" id="section1">
    <div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Second Slide: <br /> Carousel Test</h1>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Second Slide - 2</h1>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Second Slide - 3</h1>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Second Slide - 4</h1>
				</div>
			</div>
		</div>
	</div>
</div>