<div class="section" id="section1">
	<div id="bl-main" class="bl-main">

		<section class="section-proj-one">
			<div id="feature-proj-one" class="bl-box">
				<h2 class="bl-headline">Conversations</h2>
			</div>
			<div class="bl-content">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2>Project 1</h2>
							<!-- Panel Slider Trigger -->
							{{!-- <br />
							<ul id="bl-work-items">
								<li data-panel="panel-1">
									<a href="#" class="trigger-grow-bl-main">
										<p>Launch Panel</p>
									</a>
								</li>
							</ul>
							<br /> --}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
						</div>
					</div>
				</div>
			</div>
			<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>
		</section>

		<section id="bl-work-section" class="section-proj-two">
			<div id="feature-proj-two" class="bl-box">
				<h2 class="bl-headline">Native Reg</h2>
			</div>
			<div class="bl-content">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2>Project 2</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
						</div>
					</div>
				</div>
			</div>
			<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>
		</section>

		<section class="section-proj-three">
			<div id="feature-proj-three" class="bl-box">
				<h2 class="bl-headline">Visitor Toolbar</h2>
			</div>
			<div class="bl-content">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2>Project 3</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
						</div>
					</div>
				</div>
			</div>
			<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>
		</section>

		<section class="section-proj-four">
			<div id="feature-proj-four" class="bl-box">
				<h2 class="bl-headline">SU Network</h2>
			</div>
			<div class="bl-content">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2>Project 4</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
						</div>
					</div>
				</div>
			</div>
			<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>
		</section>

		<!-- Panel Items For Second Box Section Above -->
		{{!-- <div class="bl-panel-items" id="bl-panel-work-items">
			<nav id="panel-nav">
				<span class="bl-panel-close bl-icon-close pull-left trigger-shrink-bl-main">
					<i class="fa fa-angle-left"></i>
					<span>Back</span>
				</span>
				<span class="bl-next-work pull-right">
					<span>Next</span>
					<i class="fa fa-angle-right"></i>
				</span>
			</nav>
			<div data-panel="panel-1">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div>
								<h3>Panel Headline One</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div data-panel="panel-2">
				<div>
					<h3>Panel Headline Two</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
				</div>
			</div>
		</div> --}}

	</div>
</div>