<div class="section" id="section3">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-ms-12 col-sm-4">
				<div id="skill-bucket-1" class="skill-bucket">
					<div class="skill-bucket-icon">
						<span class="fa fa-lightbulb-o"></span>
					</div>
					<h3 class="skill-name">Design</h3>
					<div class="skills-list">
						<ul>
							<li class="skills-list-item">Photoshop</li>
							<li class="skills-list-item">Illustrator</li>
							<li class="skills-list-item">Omnigraffle</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-ms-12 col-sm-4">
				<div id="skill-bucket-2" class="skill-bucket">
					<div class="skill-bucket-icon">
						<span class="fa fa-hand-o-up"></span>
					</div>
					<h3 class="skill-name">Prototyping</h3>
					<div class="skills-list">
						<ul>
							<li class="skills-list-item">Keynote</li>
							<li class="skills-list-item">Proto.io</li>
							<li class="skills-list-item">Invision</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-ms-12 col-sm-4">
				<div id="skill-bucket-3" class="skill-bucket">
					<div class="skill-bucket-icon">
						<span class="fa fa-code"></span>
					</div>
					<h3 class="skill-name">Development</h3>
					<div class="skills-list">
						<ul>
							<li class="skills-list-item">GitHub</li>
							<li class="skills-list-item">HTML5 &amp; CSS3</li>
							<li class="skills-list-item">jQuery</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>