<head>
    <meta charset="utf-8">
    <title>Matthew Spangenberg</title>
    <meta name="author" content="Matthew Spangenberg">
    <meta name="Copyright" content="Copyright Matthew Spangenberg 2012. All Rights Reserved.">
    <meta name="description" content="Matthew Spangenberg is a digital designer providing direction to visionary dilemmas with creative solutions.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Bootstrap v3.2.0 CSS -->
    <link rel="stylesheet" href="vendor/bootstrap-v3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap-v3.2.0-dist/css/bootstrap-theme.min.css">

    <!-- Bootstrap v3 Addons-->
    <link rel="stylesheet" href="stylus/bootstrap-add-ons.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="stylus/fonts.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="stylus/site.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="stylus/plugins.css">
</head>