<div id="nav-background">
</div>

<ul id="menu">
	<li data-menuanchor="about" id="anchor-home" class="anchor-home-invisible">
		<a href="#about">Matthew Spangenberg:</a>
	</li>
	<li data-menuanchor="experience"><a href="#experience">Experience</a></li>
	<li data-menuanchor="skills"><a href="#skills">Skills</a></li>
	<li data-menuanchor="work"><a href="#work">Work</a></li>
</ul>