<div class="section" id="section2">
    <div id="slide-one" class="slide">
		{{> experience-slide-1}}
	</div>
    <div id="slide-two" class="slide">
		{{> experience-slide-2}}
	</div>
    <div id="slide-three" class="slide">
		{{> experience-slide-3}}
	</div>
	<div id="slide-four" class="slide">
		{{> experience-slide-4}}
	</div>
</div>