<div class="section" id="section0">
	<div class="container height-minus-nav">
		<div class="row full-height">
			<div class="col-xs-12 full-height">
				<div id="section0-content">
					<p id="section-0-prefix" class="text-left text-center-ms hidden-xs">The Portfolio Of</p>
					<h1 id="section-0-h1" class="text-left text-center-xs text-center-ms">Matthew Spangenberg</h1>
					<p id="section-0-p" class="text-left text-center-xs text-center-ms">UX Designer | San Francisco, CA</p>
					<div id="img-profile"></div>
					<div id="links-social">
						<a href="http://www.linkedin.com/in/mattspangenberg" target="_blank" onClick="_gaq.push(['_trackEvent', 'Home Section', 'LinkedIn', 'LinkedIn Icon']);">
							<i class="fa fa-linkedin icn-social"></i>
						</a>
						<a href="https://github.com/mspangenberg" target="_blank" onClick="_gaq.push(['_trackEvent', 'Home Section', 'GitHub', 'GitHub Icon']);">
							<i class="fa fa-github icn-social"></i>
						</a>
						<a href="mailto:me@mattspangenberg.com" target="_top" onClick="_gaq.push(['_trackEvent', 'Home Section', 'Email', 'Email Icon']);">
							<i class="fa fa-envelope icn-social"></i>
						</a>
					</div>
					{{!-- <div id="btn-portfolio">
						<a href="secure/matthew-spangenberg_ux-designer.pdf" target="_blank">Download Portfolio</a>
					</div> --}}
				</div>
			</div>
		</div>

		<div id="angle-down" class="hidden-xs" onClick="_gaq.push(['_trackEvent', 'Home Section', 'Next section', 'Bouncing Arrow Down']);">
			<i class="fa fa-angle-down"></i><br />
		</div>

	</div>
</div>