<div class="section" id="section1">
	<div id="bl-main" class="bl-main">

		<section>
			<div class="bl-box">
				<h2 class="bl-headline">Project 1</h2>
			</div>
			<div class="bl-content">
				<h2>Project 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p></p>
			</div>
			<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>
		</section>

		<section id="bl-work-section">
			<div class="bl-box">
				<h2 class="bl-headline">Project 2</h2>
			</div>
			<div class="bl-content">
				<h2>Project 2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>

				<!-- Panel triggers disabled code below & in 'section-1.styl'
				<ul id="bl-work-items">
					<li data-panel="panel-1"><a href="#"><img src="#" /></a></li>
					<li data-panel="panel-2"><a href="#"><img src="#" /></a></li>
					<li data-panel="panel-3"><a href="#"><img src="#" /></a></li>
					<li data-panel="panel-4"><a href="#"><img src="#" /></a></li>
				</ul>
				-->

			</div>
			<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>
		</section>

		<section>
			<div class="bl-box">
				<h2 class="bl-headline">Project 3</h2>
			</div>
			<div class="bl-content">
				<h2>Project 3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
			</div>
			<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>
		</section>

		<section>
			<div class="bl-box">
				<h2 class="bl-headline">Project 4</h2>
			</div>
			<div class="bl-content">
				<h2>Project 4</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
			</div>
			<span class="bl-section-close bl-icon-close"><i class="fa fa-times"></i></span>
		</section>

		<!-- Panel Items For Second Box Section Above -->
		<!--
		<div class="bl-panel-items" id="bl-panel-work-items">
			<div data-panel="panel-1">
				<div>
					<h3>Headline</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
				</div>
			</div>
			<div data-panel="panel-2">
				<div>
					<h3>Headline</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
				</div>
			</div>
			<div data-panel="panel-3">
				<div>
					<h3>Headline</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
				</div>
			</div>
			<div data-panel="panel-4">
				<div>
					<h3>Headline</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vulputate ipsum, ac congue lectus. Donec auctor, dolor id ultrices scelerisque, nisi lorem ultrices odio, sagittis commodo ex metus ut ex. Praesent vel ligula massa. Quisque sollicitudin aliquam eros porttitor commodo. Nulla elementum velit ex, id rhoncus felis rutrum vitae. Etiam ante tellus, tincidunt vel eleifend nec, condimentum sed sem. Vivamus condimentum, felis nec pellentesque maximus, ligula turpis aliquet ligula, eget venenatis tortor dui non massa. In sit amet enim id metus convallis aliquet.</p>
				</div>
			</div>
			<nav>
				<span class="bl-panel-close bl-icon-close pull-left"><i class="fa fa-angle-left"></i>Back</span>
				<span class="bl-next-work pull-right">Next</span>
			</nav>
		</div>
		-->

	</div>
</div>