<div class="section" id="section0">
	<div class="container full-height">
		<div class="row full-height">
			<div class="col-xs-12 full-height">
				<div id="section0-content">
					<div id="img-profile"></div>
					<h1 id="section-0-h1">Matthew Spangenberg</h1>
					<p id="section-0-p">UX Designer | San Francisco, CA</p>
					<div id="links-social">
						<a href="http://www.linkedin.com/in/mattspangenberg" target="_blank">
							<i class="fa fa-linkedin icn-social"></i>
						</a>
						<a href="https://github.com/mspangenberg" target="_blank">
							<i class="fa fa-github icn-social"></i>
						</a>
						<a href="mailto:me@mattspangenberg.com" target="_top">
							<i class="fa fa-envelope icn-social"></i>
						</a>
					</div>
					<div id="btn-portfolio">
						<a href="secure/matthew-spangenberg_ux-designer.pdf" target="_blank">Download Portfolio</a>
					</div>
				</div>
			</div>
		</div>

		<!--
		<div id="angle-down">
			<i class="fa fa-angle-down"></i><br />
		</div>
		-->

	</div>

	{{> asset-polygon}}

</div>