<div class="section" id="section1">
	<div id="bl-main" class="bl-main">

		<section class="section-proj-one" onClick="_gaq.push(['_trackEvent', 'Featured', 'Open Featured', 'Conversations']);">
			<div id="feature-proj-one" class="bl-box">
				<h2 class="bl-headline">Conversations</h2>
			</div>
			{{> project-expanded-1}}
		</section>

		<section id="bl-work-section" class="section-proj-two" onClick="_gaq.push(['_trackEvent', 'Featured', 'Open Featured', 'Native Reg']);">
			<div id="feature-proj-two" class="bl-box">
				<h2 class="bl-headline">Native Reg</h2>
			</div>
			{{> project-expanded-2}}
		</section>

		<section class="section-proj-three" onClick="_gaq.push(['_trackEvent', 'Featured', 'Open Featured', 'Visitor Toolbar']);">
			<div id="feature-proj-three" class="bl-box">
				<h2 class="bl-headline">Visitor Toolbar</h2>
			</div>
			{{> project-expanded-3}}
		</section>

		<section class="section-proj-four" onClick="_gaq.push(['_trackEvent', 'Featured', 'Open Featured', 'SU Network']);">
			<div id="feature-proj-four" class="bl-box">
				<h2 class="bl-headline">SU Network</h2>
			</div>
			{{> project-expanded-4}}
		</section>

	</div>
</div>