/*  
==========================================================================
Font Example
==========================================================================
*/

// @font-face {
//     font-family: 'proxima_nova_ltsemibold';
//     src: url($font-path + 'proxima-nova/ProximaNova-Sbold-webfont.eot');
//     src: url($font-path + 'proxima-nova/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
//          url($font-path + 'proxima-nova/ProximaNova-Sbold-webfont.woff') format('woff'),
//          url($font-path + 'proxima-nova/ProximaNova-Sbold-webfont.ttf') format('truetype'),
//          url($font-path + 'proxima-nova/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }


/*  
==========================================================================
Roboto Slab (http://www.google.com/fonts/specimen/Roboto+Slab)
==========================================================================
*/

@font-face {
    font-family: 'RobotoSlab-Thin';
    src: url($font-path + 'Roboto_Slab/RobotoSlab-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}