<!doctype html>
<html lang="en-us">

{{> head}}

  <body>

  	{{> menu}}

    <div id="fullpage">
	    {{> section-0}}
	    {{> section-1}}
	    {{> section-2}}
	    {{> section-3}}
    </div>

    <!-- {{> footer}}-->

    {{> scripts}}

  </body>
</html>
