<!doctype html>
<html lang="en-us">

{{> site-head}}

  <body>

  	{{> site-menu}}

    <div id="fullpage">
	    {{> site-section-0}}
	    {{> site-section-1}}
	    {{> site-section-2}}
	    {{> site-section-3}}
    </div>

    {{> site-scripts}}

  </body>
</html>
