<!doctype html>
<html lang="en-us">

{{> site-head}}

  <body>

  	{{> loader}}

  	{{> site-menu}}

    <div id="fullpage" classs="hide">
	    {{> site-section-0}}
	    {{> site-section-1}}
	    {{> site-section-2}}
	    {{> site-section-3}}
	</div>

	<div class="section0-background-left"></div>
	<div class="section0-background-right"></div>
	{{> asset-polygon}}

    {{> site-scripts}}

  </body>
</html>
